.products-container .product-block .product-wrapper {
    border-radius: 5px;
}

.products-container .product-block .product-wrapper .product-img {
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.products-container .product-block .product-wrapper .product-count-row input[type="radio"] {
    height: 0;
    width: 0;
    opacity: 0;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
}

.products-container .product-block .product-wrapper .product-count-row input[type="radio"] ~ label {
    font-weight: bold;
    font-size: 24px;
    position: relative;
    width: 60px;
    height: 60px;
    line-height: 48px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 2px solid transparent;
    cursor: pointer;
}

.products-container .product-block .product-wrapper .product-count-row input[type="radio"]:checked ~ label {
    border: 2px solid #f8a51f;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.products-container .product-block .product-wrapper .product-count-row input[type="radio"] ~ label:before {
    content: "";
    background: url('../imgs/arrow-bottom.png') no-repeat;
    width: 23px;
    height: 9px;
    bottom: 11px;
    position: absolute;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}

.products-container .product-block .product-wrapper .product-count-row input[type="radio"]:checked ~ label:before {
    background: url('../imgs/arrow-bottom-active.png') no-repeat;
}

.products-container .product-block .product-wrapper .product-count-row input {
    height: 42px;
}

.products-container .product-block .product-wrapper .product-count-row input::-webkit-outer-spin-button,
.products-container .product-block .product-wrapper .product-count-row input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.products-container .product-block .product-wrapper .product-count-row input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.products-container .product-block .product-wrapper .product-count-row button {
    width: 32px;
    height: 19px;
    vertical-align: middle;
}

.products-container .product-block .product-wrapper .product-count-row button:nth-child(2) {
    margin-top: 4px;
}

.products-container .product-block .product-wrapper .product-count-row button i {
    vertical-align: text-top;
}

/*.products-container .product-block .product-wrapper .product-count-row button i {*/
    /*font-size: 0.7rem;*/
/*}*/